<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="espace.css" />
</head>
<body>
    <div class="navbar">
        <a onclick="getData()"  class="nav-item"   >Informations personnelles</a>
        <a onclick="logout()" class="nav-item">Déconnexion</a>
    </div>
    <h1>Liste des Itinéraires</h1>
    <table border="1">
        <thead> 
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Route</th>
                <th>Télécharger</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <form id="itineraryForm" >
        <button onclick="nouvelleItineraire()">Nouvel Itinéraire</button>
    </form>
    

    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            
            try {
                const response = await fetch('http://localhost:4000/getIteneraires');
                console.log(response);
                if (!response.ok) {
                    throw new Error(`Erreur lors de la récupération des itinéraires. Statut : ${response.status}`);
                }
                
                const itineraires = await response.json();
                
                displayItineraires(itineraires);
            } catch (error) {
                console.error('Erreur lors de la récupération des itinéraires:', error.message);
            }
        });

        function displayItineraires(itineraires) {
            const tbody = document.querySelector('table tbody');

            itineraires.forEach(itineraire => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${itineraire.id}</td>
                    <td>${itineraire.name}</td>
                    <td>${itineraire.route}</td>
                    <td>
                    <form action="ficheItineraire/${itineraire.id}" method="post">
                    <input type="hidden" name="itineraireId" value="${itineraire.id}">
                    <a href="http://localhost:4000/ficheItineraire/${itineraire.id}" target="_blank">
                    <input id="telechargerButton" type="submit" value="Télécharger pdf">
                    </form>
                    </a>
            </td>
        `;
        tbody.appendChild(row);
            });
        }

        document.getElementById("itineraryForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Empêche le comportement par défaut du formulaire

        window.location.href = "/carte"; 
    });
    async function logout() {
    try {
        const response = await fetch('http://localhost:4000/logout');
        // Ajoutez ici toute autre logique que vous souhaitez effectuer après la déconnexion
     if(response.status===200){
        window.location.href = "/connexion"; 
     }
    } catch (error) {
        console.error('Erreur lors de la déconnexion', error);
    }
}
$(document).ready(function () {
        // Écoutez l'événement de clic sur le bouton
        $("#telechargementForm").submit(function (event) {
            // Empêchez le comportement par défaut du formulaire
            event.preventDefault();
            // Obtenez l'ID de l'itinéraire à partir du champ caché
            const itineraireId = $("input[name='itineraireId']").val();

            // Envoyez une requête AJAX pour déclencher la route
            $.ajax({
                type: "GET",
                url: `http://localhost:4000/getFichierPdf/${itineraireId}`,
                success: function (data) {
                    // Traitez la réponse si nécessaire
                    console.log("Succès :", data);
                },
                error: function (error) {
                    // Traitez les erreurs si nécessaire
                    console.error("Erreur :", error);
                }
            });
        });
    });
    </script>
    <script src="espace.js"></script>
</body>
</html>
