<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="espace.css" />
</head>
<body>
    <div class="navbar">
        <a onclick="getData()"  class="nav-item"   >Informations personnelles</a>
        <a onclick="logout()" class="nav-item">Déconnexion</a>
    </div>
    <h1>Liste des Itinéraires</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <form id="itineraryForm" action="/carte" method="get">
        <button type="submit">Nouvel Itinéraire</button>
    </form>
    <script src ="espace.js">   </script>
    
</body>
</html>
